.leftList{
    flex:left;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
}
.leftList h4{
    margin-right: 10px;
    opacity: 1;
color: rgba(82,82,82,1);
font-family: "MarkPro";
font-size: 40px;
font-weight: 400;
font-style: normal;
letter-spacing: 0px;
text-align: left;
line-height: 60px;
}
.leftList button{
    border:none;
    background-color: rgba(255,255,255, 1);
    color: #33333A;
}
.arrow{


font-size: 8px;
}