.title {
  display: flex;
  justify-content: space-between;
}

.main {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.05);

  background-color: rgba(255, 255, 255, 1);
}
h6 {
  opacity: 1;
  color: rgba(255, 96, 8, 1);
  font-family: "ProximaNova-Light";
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0px;
  text-align: left;
  line-height: 30px;
}

/* .imgleft {
  width: 68px;
}
.imgleft img {
  width: 100%;
  height: 68px;
} */
.right {
  width: 54%;
}
.features {
  display: grid;
  grid-template-columns: auto auto;
  border-bottom: 4 solid gray;
}
h5 {
  opacity: 1;
  color: rgba(0, 0, 0, 1);
  font-family: "ProximaNova-Light";
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0px;
  text-align: left;
  line-height: 30px;
}
p {
  opacity: 1;
  color: rgba(102, 102, 102, 1);
  font-family: "ProximaNova-Light";
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0px;
  text-align: justified;
  line-height: 20px;
}
.counter {
  display: flex;
  justify-content: space-between;
}
button {
  opacity: 1;
  color: rgba(0, 0, 0, 1);
  font-family: "ProximaNova-Semibold";
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 2px;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  border-bottom: 3px solid black;
  float: right;
}

.heading {
  display: flex;
  justify-content: space-between;
}
div a {
  text-decoration: none;
}
.rating {
  /* display: flex;
justify-content: space-between;
align-items: ; */
}
