.carousel-control-prev {
  position: absolute;
  background-color: transparent;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  transform: translateX(-50%);
  /* opacity: 0; */
}
.carousel-control-next {
  position: absolute;
  background-color: transparent;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  transform: translateX(-50%);
}
.caption {
  position: absolute;
  top: 173px;
  right: 140px;
}
.caption h1 {
  width: 485px;
  height: 160px;
  opacity: 1;
  color: rgba(255, 255, 255, 1);
  font-family: "VLNewParisHeadline";
  font-size: 60px;
  font-weight: 400;

  font-style: normal;
  letter-spacing: 0px;
  /* text-align: left; */
  line-height: 80px;
}
.captionNext a {
  text-decoration: none;

  color: rgba(255, 255, 255, 1);
}
.captionNext hr {
  width: 80px;
  height: 2px;
  color: #ffffff;
  opacity: 1;
}

@media only screen and (max-width: 922px) {
  .caption {
    position: absolute;
    top: 173px;
    right: 28px;
  }
  .caption h1 {
    width: 285px;
    height: 60px;
    font-size: 20px;
    font-weight: 200;
  }
}
@media only screen and (max-width: 750px) {
  .caption h1 {
    width: 285px;
    height: 60px;
    font-size: 20px;
    font-weight: 200;
  }
  .caption {
    top: 96px;
    right: 28px;
  }
}
@media only screen and (max-width: 650px) {
  .caption h1 {
    width: 155px;
    height: 40px;
    font-size: 10px;
    font-weight: 100;
  }
}
@media only screen and (max-width: 450px) {
  .caption h1 {
    width: 155px;
    height: 40px;
    font-size: 10px;
    font-weight: 100;
  }
  .caption {
    top: 15px;
    right: 28px;
  }
}
