.showMore {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  text-align: center;

  background-color: #33333a;
  border: none;
  align-items: center;
  margin-top: 5px;
  width: 130px;
  height: 40px;
  /* margin-top: 30px; */
  text-align: center;
}
.centerButt {
  width: 100%;
  min-height: 20%;
  margin: auto;
}
