.card {
  border: none;
  margin-right: 29px;

  border: "none";
}
.cardWrap {
  margin-left: 150px;
  display: flex;
}
.card-body {
  background-color: #ffffff;
}
.card-title h5 {
  opacity: 1;
  color: rgba(51, 51, 58, 1);
  font-family: "VLNewParisHeadline";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0px;
  text-align: left;
  line-height: 25px;
}
.img {
  position: relative;
  width: 361px;
  height: 240px;
}
.img img {
  width: 361px;
  height: 240px;
  display: block;
}
