.all1 {
  background-color: #ffffff;
}
.shopWrapper {
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  flex-wrap: wrap;
}
.shop {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

@media only screen and (max-width: 922px) {
}
@media only screen and (max-width: 750px) {
}
