.all1 {
  background-color: #ffffff;
  width: 85%;
  margin: auto;
}
.shopWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.shop {
  width: 22%;
}

@media only screen and (max-width: 786px) {
  .shop {
    width: 44%;
    margin-top: 30px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .shop {
    width: 100%;
    margin-top: 30px;
  }
}
